Builder/Client/Service References/BuilderTasksService/QuestifyBuilderTasksService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.TasksService.TaskClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.TasksService.TaskClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BuilderTaskSessionTicket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuilderTaskSessionTicket" nillable="true" type="tns:BuilderTaskSessionTicket" />
  <xs:complexType name="BuilderTaskProgress">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProgressItems" nillable="true" type="tns:ArrayOfBuilderTaskProgressItem" />
      <xs:element minOccurs="0" name="State" type="tns:BuilderTaskProgress.ExecutionState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuilderTaskProgress" nillable="true" type="tns:BuilderTaskProgress" />
  <xs:complexType name="ArrayOfBuilderTaskProgressItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BuilderTaskProgressItem" nillable="true" type="tns:BuilderTaskProgressItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBuilderTaskProgressItem" nillable="true" type="tns:ArrayOfBuilderTaskProgressItem" />
  <xs:complexType name="BuilderTaskProgressItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProcessedCount" type="xs:int" />
      <xs:element minOccurs="0" name="ProgressItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProgressItemLabel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuilderTaskProgressItem" nillable="true" type="tns:BuilderTaskProgressItem" />
  <xs:simpleType name="BuilderTaskProgress.ExecutionState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Finished" />
      <xs:enumeration value="Running" />
      <xs:enumeration value="Cancelled" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuilderTaskProgress.ExecutionState" nillable="true" type="tns:BuilderTaskProgress.ExecutionState" />
  <xs:complexType name="BuilderTaskResult">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Exceptions" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Info" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="TaskTermination" type="tns:BuilderTaskResult.TaskTerminationState" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Warnings" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuilderTaskResult" nillable="true" type="tns:BuilderTaskResult" />
  <xs:simpleType name="BuilderTaskResult.TaskTerminationState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Halted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BuilderTaskResult.TaskTerminationState" nillable="true" type="tns:BuilderTaskResult.TaskTerminationState" />
</xs:schema>