Builder/Client/Service References/BuilderTasksService/QuestifyBuilderTasksService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuestifyBuilderTasksService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.TasksService.TaskClasses" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/Message" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuestifyBuilderTasksService_PollProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:PollProgress" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_PollProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:PollProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_RequestCancellation_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestCancellation" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_RequestCancellation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestCancellationResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_GetLogFileStream_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileStream" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_GetLogFileStream_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileStreamResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_GetTaskResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResult" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_GetTaskResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTaskResultResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_Cleanup_InputMessage">
    <wsdl:part name="parameters" element="tns:Cleanup" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_Cleanup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CleanupResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_HarmonizeWithItemLayoutTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:HarmonizeWithItemLayoutTemplates" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_HarmonizeWithItemLayoutTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:HarmonizeWithItemLayoutTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_HarmonizeItems_InputMessage">
    <wsdl:part name="parameters" element="tns:HarmonizeItems" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_HarmonizeItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:HarmonizeItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_HarmonizeAfterImport_InputMessage">
    <wsdl:part name="parameters" element="tns:HarmonizeAfterImport" />
  </wsdl:message>
  <wsdl:message name="IQuestifyBuilderTasksService_HarmonizeAfterImport_OutputMessage">
    <wsdl:part name="parameters" element="tns:HarmonizeAfterImportResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuestifyBuilderTasksService">
    <wsdl:operation name="PollProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/PollProgress" message="tns:IQuestifyBuilderTasksService_PollProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/PollProgressResponse" message="tns:IQuestifyBuilderTasksService_PollProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestCancellation">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/RequestCancellation" message="tns:IQuestifyBuilderTasksService_RequestCancellation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/RequestCancellationResponse" message="tns:IQuestifyBuilderTasksService_RequestCancellation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFileStream">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/GetLogFileStream" message="tns:IQuestifyBuilderTasksService_GetLogFileStream_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/GetLogFileStreamResponse" message="tns:IQuestifyBuilderTasksService_GetLogFileStream_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTaskResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/GetTaskResult" message="tns:IQuestifyBuilderTasksService_GetTaskResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/GetTaskResultResponse" message="tns:IQuestifyBuilderTasksService_GetTaskResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cleanup">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/Cleanup" message="tns:IQuestifyBuilderTasksService_Cleanup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/CleanupResponse" message="tns:IQuestifyBuilderTasksService_Cleanup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HarmonizeWithItemLayoutTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeWithItemLayoutTemplates" message="tns:IQuestifyBuilderTasksService_HarmonizeWithItemLayoutTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeWithItemLayoutTemplatesResponse" message="tns:IQuestifyBuilderTasksService_HarmonizeWithItemLayoutTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HarmonizeItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeItems" message="tns:IQuestifyBuilderTasksService_HarmonizeItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeItemsResponse" message="tns:IQuestifyBuilderTasksService_HarmonizeItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HarmonizeAfterImport">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeAfterImport" message="tns:IQuestifyBuilderTasksService_HarmonizeAfterImport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeAfterImportResponse" message="tns:IQuestifyBuilderTasksService_HarmonizeAfterImport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuestifyBuilderTasksService" type="tns:IQuestifyBuilderTasksService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PollProgress">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/PollProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCancellation">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/RequestCancellation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogFileStream">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/GetLogFileStream" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTaskResult">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/GetTaskResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cleanup">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/Cleanup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HarmonizeWithItemLayoutTemplates">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeWithItemLayoutTemplates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HarmonizeItems">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HarmonizeAfterImport">
      <soap:operation soapAction="http://tempuri.org/IQuestifyBuilderTasksService/HarmonizeAfterImport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuestifyBuilderTasksService">
    <wsdl:port name="BasicHttpBinding_IQuestifyBuilderTasksService" binding="tns:BasicHttpBinding_IQuestifyBuilderTasksService">
      <soap:address location="http://localhost/Questify.Builder.Services.TasksService/QuestifyBuilderTasksService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>