Builder/Client/Service References/PublicationService/PublicationService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" />
  <xs:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetAvailablePublicationHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testNames" nillable="true" type="q1:ArrayOfstring" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testPackageNames" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailablePublicationHandlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" minOccurs="0" name="GetAvailablePublicationHandlersResult" nillable="true" type="q3:ArrayOfPublicationHandlerIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublicationHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testNames" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testPackageNames" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPublicationHandlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" minOccurs="0" name="GetAllPublicationHandlersResult" nillable="true" type="q6:ArrayOfPublicationHandlerIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestPreviewHandlers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTestPreviewHandlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" minOccurs="0" name="GetAllTestPreviewHandlersResult" nillable="true" type="q7:ArrayOfTestPreviewHandlerIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTestPreviewHandlers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bankId" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testNames" nillable="true" type="q8:ArrayOfstring" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testPackages" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableTestPreviewHandlersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" minOccurs="0" name="GetAvailableTestPreviewHandlersResult" nillable="true" type="q10:ArrayOfTestPreviewHandlerIdentifier" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationOptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationHandlerType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testNames" nillable="true" type="q11:ArrayOfstring" />
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testPackageNames" nillable="true" type="q12:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigurationOptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetConfigurationOptionsResult" nillable="true" type="q13:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Publicize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationHandlerType" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="configurationOptions" nillable="true" type="q14:ArrayOfKeyValueOfstringstring" />
        <xs:element minOccurs="0" name="bankId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testNames" nillable="true" type="q15:ArrayOfstring" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="testPackageNames" nillable="true" type="q16:ArrayOfstring" />
        <xs:element minOccurs="0" name="isForPreview" type="xs:boolean" />
        <xs:element minOccurs="0" name="customName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PublicizeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" minOccurs="0" name="GetProgressResult" nillable="true" type="q17:PublicationTaskProgress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishPublication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taskId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishPublicationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemOutput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationHandlerType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bankId" type="xs:int" />
        <xs:element minOccurs="0" name="itemCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemOutputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetItemOutputResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConceptRelatedResponseProcessingForReportingPurposes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="publicationHandlerType" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemResourceId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConceptRelatedResponseProcessingForReportingPurposesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" minOccurs="0" name="GetConceptRelatedResponseProcessingForReportingPurposesResult" nillable="true" type="q19:ArrayOfConceptProcessingLabelEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>