Builder/UI/Service References/PreviewService/ItemPreviewService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Questify.Builder.Logic.Service.Classes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Logic.Service.Classes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPublicationProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PublicationProperty" nillable="true" type="tns:PublicationProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPublicationProperty" nillable="true" type="tns:ArrayOfPublicationProperty" />
  <xs:complexType name="PublicationProperty">
    <xs:sequence>
      <xs:element name="_key" nillable="true" type="xs:string" />
      <xs:element name="_value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicationProperty" nillable="true" type="tns:PublicationProperty" />
  <xs:complexType name="PublicationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DebugFileLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PublicationLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Succeeded" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicationResult" nillable="true" type="tns:PublicationResult" />
</xs:schema>