Builder/UI/Service References/PreviewService/ItemPreviewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemPreviewService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/ItemPreview/ItemPreviewService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/ItemPreview/ItemPreviewService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/ItemPreview/ItemPreviewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Logic.Service.Classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemPreviewService_PreviewItemByCode_InputMessage">
    <wsdl:part name="parameters" element="tns:PreviewItemByCode" />
  </wsdl:message>
  <wsdl:message name="IItemPreviewService_PreviewItemByCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreviewItemByCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IItemPreviewService_PreviewItemByAssessmentItem_InputMessage">
    <wsdl:part name="parameters" element="tns:PreviewItemByAssessmentItem" />
  </wsdl:message>
  <wsdl:message name="IItemPreviewService_PreviewItemByAssessmentItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreviewItemByAssessmentItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemPreviewService">
    <wsdl:operation name="PreviewItemByCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemPreviewService/PreviewItemByCode" message="tns:IItemPreviewService_PreviewItemByCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemPreviewService/PreviewItemByCodeResponse" message="tns:IItemPreviewService_PreviewItemByCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreviewItemByAssessmentItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemPreviewService/PreviewItemByAssessmentItem" message="tns:IItemPreviewService_PreviewItemByAssessmentItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemPreviewService/PreviewItemByAssessmentItemResponse" message="tns:IItemPreviewService_PreviewItemByAssessmentItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemPreviewService" type="tns:IItemPreviewService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PreviewItemByCode">
      <soap:operation soapAction="http://tempuri.org/IItemPreviewService/PreviewItemByCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreviewItemByAssessmentItem">
      <soap:operation soapAction="http://tempuri.org/IItemPreviewService/PreviewItemByAssessmentItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemPreviewService">
    <wsdl:port name="BasicHttpBinding_IItemPreviewService" binding="tns:BasicHttpBinding_IItemPreviewService">
      <soap:address location="http://localhost/Questify.Builder.Services.PublicationService/ItemPreview/ItemPreviewService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>