Builder/Logic/Service References/PublicationService/PublicationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PublicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService.Publication" />
      <xsd:import schemaLocation="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Questify.Builder.Services.PublicationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPublicationService_GetAvailablePublicationHandlers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePublicationHandlers" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAvailablePublicationHandlers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailablePublicationHandlersResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAllPublicationHandlers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPublicationHandlers" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAllPublicationHandlers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPublicationHandlersResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAllTestPreviewHandlers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestPreviewHandlers" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAllTestPreviewHandlers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTestPreviewHandlersResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAvailableTestPreviewHandlers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTestPreviewHandlers" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetAvailableTestPreviewHandlers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableTestPreviewHandlersResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetConfigurationOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationOptions" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetConfigurationOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_Publicize_InputMessage">
    <wsdl:part name="parameters" element="tns:Publicize" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_Publicize_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublicizeResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetProgress_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProgress" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetProgress_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProgressResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_FinishPublication_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishPublication" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_FinishPublication_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishPublicationResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetItemOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemOutput" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetItemOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemOutputResponse" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetConceptRelatedResponseProcessingForReportingPurposes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConceptRelatedResponseProcessingForReportingPurposes" />
  </wsdl:message>
  <wsdl:message name="IPublicationService_GetConceptRelatedResponseProcessingForReportingPurposes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConceptRelatedResponseProcessingForReportingPurposesResponse" />
  </wsdl:message>
  <wsdl:portType name="IPublicationService">
    <wsdl:operation name="GetAvailablePublicationHandlers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetAvailablePublicationHandlers" message="tns:IPublicationService_GetAvailablePublicationHandlers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetAvailablePublicationHandlersResponse" message="tns:IPublicationService_GetAvailablePublicationHandlers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPublicationHandlers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetAllPublicationHandlers" message="tns:IPublicationService_GetAllPublicationHandlers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetAllPublicationHandlersResponse" message="tns:IPublicationService_GetAllPublicationHandlers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTestPreviewHandlers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetAllTestPreviewHandlers" message="tns:IPublicationService_GetAllTestPreviewHandlers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetAllTestPreviewHandlersResponse" message="tns:IPublicationService_GetAllTestPreviewHandlers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTestPreviewHandlers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetAvailableTestPreviewHandlers" message="tns:IPublicationService_GetAvailableTestPreviewHandlers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetAvailableTestPreviewHandlersResponse" message="tns:IPublicationService_GetAvailableTestPreviewHandlers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetConfigurationOptions" message="tns:IPublicationService_GetConfigurationOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetConfigurationOptionsResponse" message="tns:IPublicationService_GetConfigurationOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Publicize">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/Publicize" message="tns:IPublicationService_Publicize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/PublicizeResponse" message="tns:IPublicationService_Publicize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetProgress" message="tns:IPublicationService_GetProgress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetProgressResponse" message="tns:IPublicationService_GetProgress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishPublication">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/FinishPublication" message="tns:IPublicationService_FinishPublication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/FinishPublicationResponse" message="tns:IPublicationService_FinishPublication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetItemOutput" message="tns:IPublicationService_GetItemOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetItemOutputResponse" message="tns:IPublicationService_GetItemOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConceptRelatedResponseProcessingForReportingPurposes">
      <wsdl:input wsaw:Action="http://tempuri.org/IPublicationService/GetConceptRelatedResponseProcessingForReportingPurposes" message="tns:IPublicationService_GetConceptRelatedResponseProcessingForReportingPurposes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPublicationService/GetConceptRelatedResponseProcessingForReportingPurposesResponse" message="tns:IPublicationService_GetConceptRelatedResponseProcessingForReportingPurposes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPublicationService" type="tns:IPublicationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAvailablePublicationHandlers">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetAvailablePublicationHandlers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPublicationHandlers">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetAllPublicationHandlers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTestPreviewHandlers">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetAllTestPreviewHandlers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableTestPreviewHandlers">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetAvailableTestPreviewHandlers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfigurationOptions">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetConfigurationOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Publicize">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/Publicize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProgress">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetProgress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishPublication">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/FinishPublication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemOutput">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetItemOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConceptRelatedResponseProcessingForReportingPurposes">
      <soap:operation soapAction="http://tempuri.org/IPublicationService/GetConceptRelatedResponseProcessingForReportingPurposes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PublicationService">
    <wsdl:port name="BasicHttpBinding_IPublicationService" binding="tns:BasicHttpBinding_IPublicationService">
      <soap:address location="http://localhost/Questify.Builder.Services.PublicationService/Publication/PublicationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>